$sm: 360px;
$md: 768px;
$lg: 1366px;
$xl: 1920px;

$green-light: #b1c909;
$green-middle: #97ab0d;
$green: #a5bb0c;
$green-dark: #819400;
$dark: #0a1f38;
$dark-middle: #9da5af;
$dark-light: #2f4056;
$white: #fff;
$gray: #9da5af;
$red: #ff7461;

$transition-durtaion-fast: 0.3s;
$transition-durtaion-mid: 0.45s;
$transition-durtaion-slow: 0.6s;
